# user system path file for hand made path
path.sh

# user system's package path that automatically inserted or need to optional setting
*-setting.sh

# test script's grave
disposable/*

# files for consider to adjust
consider/*

*.log

lang.sh
